apiVersion: apps/v1
kind: Deployment
metadata:
  name: devsecops-app
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devsecops-app
  template:
    metadata:
      labels:
        app: devsecops-app
    spec:
      containers:
      - name: devsecops-app
        image: pranjalpatil22/devsecops-app:v2
        ports:
        - containerPort: 5001
